/* About.css */

.about-container {
}

.banner-image-container {
  position: relative; /* 텍스트를 이미지 위에 겹치기 위해 부모 컨테이너에 relative 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px; /* 높이를 200px로 설정하여 이미지 크기 고정 */
  object-fit: cover; /* 이미지 비율을 유지하면서 컨테이너를 채움 */
  z-index: 999; /* 다른 요소들 위에 있도록 설정 */
}

.banner-text-about {
  position: absolute; /* 텍스트를 이미지 위에 겹치도록 설정 */
  color: #14172e; /* 텍스트 색상을 흰색으로 설정 */
  font-size: 2.0rem;
  font-weight: bold;
  top: 100px; /* 세로 위치 */
  left: 50%; /* 가로 중간 정렬 */
  transform: translate(-50%, -50%); /* 정확한 가운데 정렬을 위해 변환 */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0); /* 텍스트 그림자로 가독성 향상 */
}

.title_comp_name{
  text-align: center;
  padding-top: 170px;
  font-weight: bold;
  font-size: 35px;
}

.about-vision-image {
  max-width: 100%;
  height: auto; /* 이미지의 높이를 비율에 맞게 자동 조정 */
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  width: 100%;
  object-fit: cover; /* 이미지 비율을 유지하면서 컨테이너를 채움 */
  z-index: 999; /* 다른 요소들 위에 있도록 설정 */
  margin-top: 5px; /* 이미지 아래로 이동 */
}

.table-container {
  padding-top: 100px;
  width: 110%;
  max-width: 900px;
  margin: 200px 20px 100px; /* 위, 좌우, 아래 여백 */
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 1.0rem;
  background-color: #f9f9f9;
}

.about-ceo-image {
  max-width: 100%;
  height: auto; /* 이미지의 높이를 비율에 맞게 자동 조정 */
  border-radius: 15px;
  width: 100%;
  object-fit: cover;
  z-index: 999;
  margin-bottom: 100px; /* 텍스트와 이미지 사이의 간격 조정 */
}

.about-CEO-text-container {
  width: 100%; /* 이미지와 동일한 너비로 설정 */
  max-width: 900px; /* 너비 제한 */
  margin: 0 20px 100px; /* 위, 좌우, 아래 여백 */
  display: flex;
  flex-direction: column;
  justify-content: center; /* 수직 가운데 정렬 */
  align-items: flex-start; /* 가로 방향 왼쪽 정렬 */
  text-align: left; /* 텍스트를 왼쪽 정렬 */
}

/* 메뉴 토글 버튼 스타일 */
.menu-toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.menu-toggle path {
  fill: transparent;
  stroke: #fff;
  stroke-width: 3;
  stroke-linecap: round;
  transition: all 0.3s ease;
}

.menu-open .menu-toggle path.middle {
  opacity: 0;
}

/* 셀의 기본 스타일 */
.styled-table th, .styled-table td {
  padding: 12px;
  text-align: center;
}

/* 헤더 스타일 */
.styled-table th {
  background-color: #7e89ea; /* 헤더 셀 배경색 */
  color: #333;
}

/* 테이블 행 호버 시 배경색 변경 */
.styled-table tr:hover {
  background-color: #d4dee1;
}
