/* Home.css */

.header-navbar-container {
  position: fixed; /* 화면 상단에 고정 */
  width: 100%; /* 전체 너비 */
  z-index: 100; /* 섹션 위에 오도록 높은 z-index 값 설정 */
}


.scroll-down-arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  color: #ffffff;
  font-size: 24px;
}
/* MenuToggle 관련 CSS 코드 */

/* 메뉴 토글 버튼 스타일 */
.menu-toggle {
  position: fixed; /* 화면 고정 */
  top: 10px; /* 상단에서 20px 떨어지도록 설정 (원하는 위치로 조정 가능) */
  right: 10px; /* 오른쪽에서 20px 떨어지도록 설정 */
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 30%; /* 동그랗게 설정 */
  background-color: #4e61ff; /* 반투명 배경색 */
  border: 2px solid #fff; /* 흰색 테두리 */
  display: flex;
  justify-content: center;
  padding-top: 4px;
  padding-right: 3.5px;
  align-items: center;
  transition: background-color 0.3s ease;
}

.menu-toggle path {
  fill: transparent;
  stroke: #fff;
  stroke-width: 3;
  stroke-linecap: round;
  transition: all 0.3s ease;
}

/* 메뉴 열렸을 때 */
.menu-open .menu-toggle path.top {
  d: 'M 3 16.5 L 17 2.5';
}

.menu-open .menu-toggle path.middle {
  opacity: 0;
}

.menu-open .menu-toggle path.bottom {
  d: 'M 3 2.5 L 17 16.346';
}
/* Home.css */

